@{
    ViewData["Title"] = "Home Page";
}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="..." id="pd-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" id="pd-title">Card title</h5>
                <p class="card-text" id="pd-desc">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary" id="pd-price">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

<button onclick="saveProduct()">Save</button>


<script>
    $(document).ready(function() {
        $.get("https://dummyjson.com/products/1", function(response) {
            console.log(response);
            $("#pd-img").attr("src", response.images[0]);
            $('#pd-title').html(response.title);
            $('#pd-desc').html(response.description);
            $('#pd-price').html(response.price);
        });
    });

    function saveProduct() {
        let tagList = [];
        tagList.push("beauty");
        tagList.push("mascara");
        let reviewList = [];
        let review1 = {
            rating: 3,
            comment: "Would not recommend!",
            date: "2025-04-30",
            reviewerName: "Eleanor Collins",
            reviewerEmail: "eleanor.collins@x.dummyjson.com"
        };
        reviewList.push(review1);
        let review2 = {
            rating: 4,
            comment: "Good value for money.",
            date: "2025-04-30",
            reviewerName: "Mason Turner",
            reviewerEmail: "abc@gmail.com"
        }
        reviewList.push(review2);
        let product = {
            id: 1,
            title: "Essence Mascara Lash Princess",
            price: 9.99,
            tags: tagList,
            dimensions: {
                width: 15.14,
                height: 13.08,
                depth: 22.99
            },
            reviews: reviewList,
        };
        // $.post("http:localhost:5199/Home/SaveProduct", product, function(response) {
        //     console.log(response);
        // });
        $.ajax({
            url: "/Home/SaveProduct",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(product),
            success: function (response) {
                console.log(response);
            }
        });
    }
</script>
