@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="dv-cart" style="position: fixed;top: 57px;right: -400px;bottom: 0px;width: 400px;background: antiquewhite">
    <button id="close-btn" class="btn btn-primary" onclick="CartController.hideCart()">Close</button>
    <div id="products-container" class="row" style="padding: 12px;max-height: calc(100vh - 79px);
    overflow: auto;">

    </div>
</div>
